body {
    background-color: rgb(1, 11, 14);
    color:#64b2d1;
    font-family: "Chakra Patch",sans-serif;
  }
  section{
    background-color: rgb(184,156,213);
    padding-bottom: 3%;
    padding-top: 3%;
    display: flex;
    justify-content: center;
  }
  header{
    border-bottom: solid 2px #30045f;
    padding: 20px;
    font-size: 30px;
    color: #30045f;
  }
  texto {
    margin-right: 5%;
  }
  h1{
    font-size: 40px;
  }
  p{
    font-size: 20px;
  }

  
  